{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코딩을 풀어주는 챗봇 CoFullChat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script> 
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="top-bar">
        <p id="top">
            <img id="ai-logo" src="{% static 'images/cat_remove.png' %}" alt="AI 로고">
            <b> 코딩 풀어주는 AI <span id="special-word">코풀챗</span></b></p>
        <!-- 현재 로그인한 유저 정보 -->
        <p>User: {{ user.username }}</p>
        <!-- 로그아웃 버튼 -->
        <a href="{% url 'user:logout' %}">로그아웃</a>
    </div>

    <div class="container">
        <!-- 왼쪽 패널 -->
        <div class="sidebar">
            <!-- 난이도 -->
            <div class="level-container">
                {% load custom_filters %}
                {% for level in levels %}
                        <button class="level-btn" data-level="{{ level }}">
                            <p class="btnText">LEVEL {{level}}</p>
                            <div class="btnTwo">
                                <p class="btnText2">GO!</p>
                            </div>
                        </button>
                {% endfor %}
            </div>
            
            <div class="questions-container">
                <div class="question-text-container">
                    <!-- 토픽, 질문 생성되어서 들어감 -->
                </div>
            </div>
            <!-- 랜덤 문제 보기 버튼 -->
            <button class="random-question-btn">랜덤 문제 풀기</button>
            <div id="modal" class="modal"> <!-- 모달 창 -->
                <div class="modal-content">
                    <span class="close-button">&times;</span> <!-- 닫기 버튼 -->
                    <p>논리 학습 코딩 도우미 코풀챗입니다.</p>
                    <p>먼저 논리를 학습하세요.</p>
                    <p>코드블록 배열을 해보세요</p>
                    <p>모두 하셨다면 당신은 고수!</p>
                </div>
            </div>


            <!-- 잔디 기능 -->
            <div class="plotly-graph-container">
                <p>🫐 {{user.username}} 님의 블루베리를 키워봐요! 🫐</p>
                <!-- plotly 그래프를 출력할 영역 -->
                <div id="plotly-graph" class="plotly-graph" style="height:100px"></div>
            </div>

        </div>

        <!-- 오른쪽 패널 -->
        <div class="chat-container">
            <div class="chat-history">
                <!-- 대화 히스토리가 여기에 표시 -->
            </div>
            <!-- 추가 -->

            <div class="user-input">
                <div class="text-book">
                    <button id="addMemoBtn" class="image-button">
                        <img src="{% static 'images/memo.png' %}" alt="메모장" /> 
                    </button>
                    <div class="text">
                    </div>
                </div>
                <input type="text" class="message-input" placeholder="메시지를 입력하세요...">
                <button class="send-button">전송</button>
            </div>
        </div>

        <div class="loading" id="loading">
            <div class="loading-box">
                <img src="{% static 'images/01.gif' %}" alt="GIF">
                <!-- 로딩 중... -->
                <span id="loading-text" style="font-size: 50px; font-weight: bold;">LOADING...</span>
            </div>
        </div>

        <button class="arrow-button show-sidebar">←</button>
    </div>
    <script>
        // Django 템플릿에서 JavaScript 변수로 변환
        const heatmapArray = JSON.parse('{{ heatmap_array|safe }}');
        fetch('/api/get_user_info/')
        .then(response => {
            if (!response.ok) {
                throw new Error('네트워크 응답이 올바르지 않습니다.');
            }
            return response.json();
        })
        .then(data => {
            console.log("login ",data);
            // 세션 스토리지에 저장
            sessionStorage.setItem('userId', data.id);
        })
        .catch(error => {
            console.error('fetch 작업 중 문제가 발생했습니다:', error);
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
