{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코딩을 풀어주는 챗봇 CopleChat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js/styles/default.min.css">
    <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script> 
    <script src="https://cdn.jsdelivr.net/npm/highlight.js/lib/common.js"></script>
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="top-bar">
        <p id="top"><b>🤖 코딩 풀어주는 AI <span id="special-word">코풀챗</span> 🤖</b></p>
        <script>
            // 특정 단어에만 스타일을 적용하는 JavaScript 코드
            document.addEventListener('DOMContentLoaded', function() {
                var specialWord = document.getElementById('special-word');
                if (specialWord) {
                    specialWord.style.color = 'white'; // 원하는 색상으로 변경
                }
                hljs.highlightAll(); // Highlight.js 활성화
            });
            {% comment %} var specialWord = document.getElementById('special-word');
            specialWord.style.color = 'white'; // 원하는 색상으로 변경 {% endcomment %}
        </script>
        <!-- 현재 로그인한 유저 정보 -->
        <p>USER: {{ user.username }} 님 안녕하세요. 😊 </p>
        <!-- 로그아웃 버튼 -->
        <a href="{% url 'user:logout' %}">로그아웃</a>
    </div>

    <div class="container">
        <!-- 왼쪽 패널 -->
        <div class="sidebar">

            <div class="level-container">
                {% load custom_filters %}
                {% for level in levels %}
                        <button class="level-btn" data-level="{{ level }}">
                            <p class="btnText">LEVEL {{level}}</p>
                            <div class="btnTwo">
                                <p class="btnText2">GO!</p>
                            </div>
                        </button>
                {% endfor %}
                        <!-- 랜덤 문제 보기 버튼 -->
                        <button class="random-question-btn">랜덤 문제 생성 🔀</button>
            </div>

            <div class="questions-container">
                <div class="question-text-container">
                    <!-- 질문 생성되어서 들어감 -->
                </div>
            </div>
    


            <!-- 잔디 기능 -->
            <div class="plotly-graph-container">
                <p> 🌱 {{user.username}} 님의 잔디를 심어봐요! 🌱</p>
                <!-- plotly 그래프를 출력할 영역 -->
                <div id="plotly-graph" style="height:100px">
                </div>
            </div>

        </div>

        <!-- 오른쪽 패널 -->
        <div class="chat-container">
            <div class="chat-history">
                <!-- 대화 히스토리가 여기에 표시 -->
            </div>
            <div class="user-input">
                <input type="text" class="message-input" placeholder="메시지를 입력하세요...">
                <button class="send-button">전송</button>
            </div>
        </div>

    </div>
    <script>
        // Django 템플릿에서 JavaScript 변수로 변환
        // const heatmapArray = {{ heatmap_array|safe }};
        const heatmapArray = JSON.parse('{{ heatmap_array|safe }}');
        // const heatmapArray = {{ heatmap_array }};
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
