{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코딩을 풀어주는 챗봇 CoFullChat</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="top-bar">
        <p id="top">
            <img id="ai-logo" src="{% static 'images/cat_remove.png' %}" alt="AI 로고">
            <b> 코딩 풀어주는 AI <span id="special-word">코풀챗</span></b></p>
        <!-- 현재 로그인한 유저 정보 -->
        <p>User: {{ user.username }}</p>
        <!-- 로그아웃 버튼 -->
        <a href="{% url 'user:logout' %}">로그아웃</a>
    </div>


    <!-- 모달 창 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span> <!-- 닫기 버튼 -->
            <div class="modal-slider">
                <div class="slide"> <!-- 슬라이드 1 -->
                    <p class="bold-text"> 코풀챗과 대화하는 방법</p>
                    <img src="{% static 'images/step1.png' %}" alt="첫 번째 이미지">
                    <div class="slide-text">
                        <p><strong>문제</strong>를 선택하고 <strong>코드</strong>가 아닌 </p>
                        <p><strong>논리</strong> 과정을 차근차근 설명해 보세요.</p>
                    </div>
                </div>
                <div class="slide"> <!-- 슬라이드 2 -->
                    <p class="bold-text"> 코풀챗과 대화하는 방법</p>
                    <img src="{% static 'images/codeblock.png' %}" alt="두 번째 이미지">
                    <div class="slide-text">
                        <p>논리 공부가 끝나면 코풀챗이 <strong>코드를</strong> </p>
                        <p><strong>랜덤하게</strong> 섞어줘요.</p>
                        <p><strong>순서대로 코드를 배열</strong>해 보세요.</p>
                    </div>
                </div>
                <div class="slide"> <!-- 슬라이드 3 -->
                    <p class="bold-text">코풀챗 부가 기능</p>
                    <img src="{% static '/images/tabg_2.gif' %}" alt="세 번째 이미지">
                    <div class="slide-text">
                        <p>채팅화면만 보고 싶다면 <strong>좌측 버튼</strong>을 눌러보세요.</p>
        
                    </div>
                </div>
                <div class="slide"> <!-- 슬라이드 4 -->
                    <p class="bold-text">코풀챗 부가 기능</p>
                    <img src="{% static '/images/memo_chat.png' %}" alt="세 번째 이미지">
                    <div class="slide-text">
                        <p><strong>코드를 작성</strong>하고 싶을 때는 <strong>메모장</strong>을 이용해 보세요.</p>
                    </div>
                </div>
                <div class="slide"> <!-- 슬라이드 5 -->
                    <p class="bold-text">코풀챗 부가 기능</p>
                    <img src="{% static '/images/blueb.png' %}" alt="세 번째 이미지">
                    <div class="slide-text">
                        <p><strong>논리 + 블록코딩</strong> 공부가 끝나면 <strong>블루베리</strong>가 심어져요.</p>
                        <p><strong>새로고침 버튼</strong>을 누르면 <strong>적용</strong>됩니다🫐</p>
                        <p>자 이제 준비 되셨나요? <strong>공부를 시작</strong> 해보세요!</p>
                    </div>
                </div>
            </div>
            <!-- 이전 및 다음 버튼 -->
            <button class="slider-button prev-button">&#x25C0;</button> <!-- 이전 버튼 -->
            <button class="slider-button next-button">&#x25B6;</button> <!-- 다음 버튼 -->
        </div>
    </div>



    <div class="container">
        <!-- 왼쪽 패널 -->
        <div class="sidebar">
            <!-- 난이도 -->
            <div class="level-container">
                {% load custom_filters %}
                {% for level in levels %}
                        <button class="level-btn" data-level="{{ level }}">
                            <p class="btnText">LEVEL {{level}}</p>
                            <div class="btnTwo">
                                <p class="btnText2">START!</p>
                            </div>
                        </button>
                {% endfor %}
            </div>
            
            <div class="questions-container">
                <div class="question-text-container">
                    <!-- 토픽, 질문 생성되어서 들어감 -->
                </div>
            </div>
            <!-- 랜덤 문제 보기 버튼 -->
            <button class="random-question-btn">랜덤 문제 풀기</button>



            <!-- 잔디 기능 -->
            <div class="box-container">
                <div class="box-text">
                    <p>🫐 {{user.username}} 님의 블루베리를 키워봐요! 🫐</p>
                    <button id="triggerButton">
                        <img src="{% static 'images/reload.png' %}"/>
                    </button>
                </div>
                <div id="con">
                   <!-- 블루베리 -->
                </div>
            </div>

        </div>

        <!-- 오른쪽 패널 -->
        <div class="chat-container">
            <div class="chat-history">
                <!-- 대화 히스토리가 여기에 표시 -->
            </div>

            <!-- 입력창 -->
            <div class="user-input">
                <!-- 메모장 -->
                <div class="text-book">
                    <button id="addMemoBtn" class="image-button">
                        <img src="{% static 'images/memo-removebg-preview.png' %}" alt="메모장" /> 
                    </button>
                </div>
                <!-- <textarea class="message-input" placeholder="메시지를 입력하세요..."></textarea> -->
                <textarea class="message-input" ></textarea>
                <button class="send-button">전송</button>
            </div>
        </div>

        <!-- 로딩 창 -->
        <div class="loading" id="loading">
            <div class="loading-box">
                <video autoplay loop muted>
                    <source src="{% static 'images/dm.mp4' %}" type="video/mp4">
                </video>
                <!-- 로딩 중... -->
                <span id="loading-text" style="font-size: 50px; font-weight: bold;">LOADING...</span>
            </div>
        </div>

        <!-- <button class="arrow-button show-sidebar"> &lt; </button> -->
        <button class="arrow-button show-sidebar"> || </button>
    </div>
    <script>
        // Django 템플릿에서 JavaScript 변수로 변환
        const heatmapArray = JSON.parse('{{ heatmap_array|safe }}');


        fetch('/api/get_user_info/')
        .then(response => {
            if (!response.ok) {
                throw new Error('네트워크 응답이 올바르지 않습니다.');
            }
            return response.json();
        })
        .then(data => {
            console.log("login ",data);
            // 세션 스토리지에 저장
            sessionStorage.setItem('userId', data.id);
        })
        .catch(error => {
            console.error('fetch 작업 중 문제가 발생했습니다:', error);
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
