body, html {
    height: 100%;
    margin: 0;
}


.container {
    display: flex;
    height: 100vh;
    flex-direction: row; /* 수정: 가로 방향으로 배치 */
}

.sidebar {
    flex: 1; /* 왼쪽 패널 너비 조정 */
    max-width: 40%; /* 최대 너비를 50%로 제한 */
    flex-wrap: wrap; /* 요소가 너무 많을 때 줄바꿈하도록 설정 */
    flex-direction: row; /* 요소를 가로로 배치 */
    background-color: #f0f0f0; /* 회색 배경색 */
    overflow-y: auto;
}

.level-container {
    display: inline-block; /* 요소 가로로 배치 */
    align-items: center;
    flex-direction: row; /* 요소를 가로로 배치 */
    margin-right: 10px; /* 버튼 사이의 간격 조절 */
}

.level-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* 버튼 안의 요소를 가로로 배치 */
    margin-right: 10px; /* 버튼 사이의 간격 조절 */
    width: 100px; /* 버튼 너비 조절 */
    height: 100px; /* 버튼 높이 조절 */
}

.level-image {
    width: 50px !important; /* 이미지 너비 조절 */
    height: auto !important; /* 이미지 높이 자동 조절 */
}


.question-item {
    display: inline-block; /* 또는 block, 필요에 따라 */
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer; /* 마우스 오버 시 손가락 커서 표시 */
    transition: background-color 0.3s; /* 마우스 오버 애니메이션 */
}

.question-item:hover {
    background-color: #e2e2e2; /* 마우스 오버 시 배경색 변경 */
}




.chat-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* 오른쪽 패널이 남은 공간을 채우도록 함 */
    max-width: 60%; /* 최대 너비를 50%로 제한 */
    background-color: #ffffff; /* 흰색 배경색 */
    /* height: 100%;
    position: relative; 부모 컨테이너에 대해 상대적 위치 설정 */
    overflow-y: auto;
}


.chat-history {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message.user {
    background-color: #f5f6f7;
}

.message.bot {
    background-color: rgba(0, 135, 68, .8);
    color: #fff;
}

/* 채팅입력창 아래 고정 */
.user-input {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    position: fixed; /* 위치를 고정 */
    bottom: 0; /* 하단에 위치 */
    left: 1; /* 왼쪽 정렬 왼오 0 이면 중앙인듯? */
    right: 1; /* 오른쪽 정렬 왼오 0 이면 중앙인듯?*/
    padding: 10px; /* 패딩 추가 */
    background-color: #ffffff;
    width: 60%;
    margin-left: auto; /* 중앙 정렬을 위해 필요 >근데 이건 왜 필요한지 모르겠네*/
    margin-right: auto; /* 중앙 정렬을 위해 필요 >이것도 마찬가지*/
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* 로그아웃 위로 */
.top-bar {
    width: 100%;
    background-color: #f0f0f0; /* 배경색 설정 */
    padding: 10px 0; /* 상하 패딩 */
    text-align: right; /* 텍스트를 오른쪽 정렬 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    text-align: right;
}

.top-bar a {
    margin-right: 20px; /* 오른쪽 마진으로 여백 제공 */
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 링크 색상 */
    font-weight: bold; /* 글꼴 굵기 */
}